html,body{
  width: 100%;
  height: 100%;
}

/*================================================= Contenedor principal ============================================================*/


.mdl-layout__content{

}

.container{
  padding:10px;
}

/*========================================================= Contenedor Programas ===================================================================*/
.program-container{
  margin-bottom: 50px;
  margin-top:50px;
}
.form-container{
  margin-bottom: 50px;
}
/*================================================= Botón Flotante ============================================================*/

.fab{
  position:fixed;
  bottom:5px;
  left:calc(50% - 20px);
}


/*============================================ Search Box ============================================================*/

.input-icon{
  display: inline-block;
}

.input-icon-text{
  display: inline-block;
}

.search-box{
  position: fixed;
  z-index:20;
  top:70px;
  left: calc(50% - 160px);
  background: #fff;
  height: 40px;
  width: 100%;

}
/*.mdl-textfield--expandable{
padding:15px 0;
}*/

/*==================================================== Tablas ============================================================*/

.table{
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.price{
  width: 100px;
  text-align: left !important;
}

.program-title{
  width: calc(100% - 100px);
}


/*=================================================== Colores =====================================================*/

.main{
  color:#3F51B5;
}

.negro{
  color:#000;
}

/*====================================================== Input =====================================================*/

.input-text{
  height: 30px;
  border:none;
  padding:0;
  margin:0;
  width: 100% !important;
  border-bottom: solid 1px #d9d9d9;
  min-width: 280px;
  margin-bottom:15px;
}
.input-text:hover{
  border-bottom: solid 1px #3F51B5;
}
